/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Mansalva', cursive; */

body {
  background-color: #fff;
  font-family: 'Barlow Condensed';
}

button {
  margin: 0 1rem;
  cursor: pointer;
  border: 0.5rem solid transparent;
  border-radius: 0.5rem;
}

  /* TITLES */
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 2% 0;
  font-size: 2rem;
  font-family: 'Mansalva', cursive;
  background-color: #cec8c8;
  width: 100%;
}

h2 {
  font-size: 0;
  position: absolute;
  color: #fff;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

  /* HEADER */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-logo {
  width: 40px;
  height: 40px;
}

.navbar button  {
  margin: 0.5rem 0.3rem;
  background-color: #cec8c8;
}
.navbar button:hover  {
  background-color: #9c9a9a;
}

.navbar ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

  /* MAIN CONTENT */
main {
  margin-top: 1rem;
  overflow: auto;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  min-width: 300px;
}

.section-title {
  margin: 0.7rem;
}

.section-title button {
  background-color: rgb(9, 175, 9);
  color: #fff;
}

.section-title button:hover {
  background-color: rgb(14, 134, 14);
}

article {
  text-align: center;
  padding: 0.1rem;
  margin: 0.1rem;
  background-color: #cec8c8;
  border: #cec8c8 0.5rem solid;
  border-radius: 0.3rem;
}

article p{
  padding-bottom: 1rem;
}

.article-modification {
  background-color: rgb(58, 136, 199);
  border-radius: 0.3rem;
  color: #fff;
}

.article-modification:hover {
  background-color: rgb(51, 100, 139);
}

.article-delete {
  background-color: #cc0000;
  border-radius: 0.3rem;
  color: #fff;
}

.article-delete:hover {
  background-color: #960101;
}

    /* FLEX */
.flex {
  display: flex;
}
